/* Hotels Page Styles */
.hotels_container {
  position: absolute;
  bottom: 45%; 
  left: 50%; 
  transform: translate(-50%, 50%);
  width: 100%;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 200%;
  font-weight: 500;
  text-decoration: none;
}

.hotel_image {
  position: relative;
  overflow: hidden;
}

.hotel_image img {
  transition: transform 1.8s ease;
}

.hotel_image:hover img {
  transform: scale(1.1);
}

.hotel_image::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hotel_image:hover::after {
  opacity: 1;
}

.hotels_display {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.hotels_container_display {
  width: 31%;
}

.hotels_top_margin {
  margin-top: 10%;
}

.hotels_container_text {
  font-size: 180%;
  font-weight: 500;
}

.shangri_la_hotel,
.blue_sky_hotel,
.ramada_hotel,
.edelweiss_hotel,
.kempinski_hotel,
.mika_hotel,
.continental_hotel,
.khongor_guesthouse,
.mash_guesthouse {
  position: absolute;
  align-items: center;
  text-align: center;
  padding: 2%;
  color: #ffde4d;
  background: rgba(0, 0, 0, 0.7);
}

.shangri_la_hotel {
  bottom: 47%;
  left: 21%;
}

.blue_sky_hotel,
.ramada_hotel {
  bottom: 47%;
  left: 25%;
}

.edelweiss_hotel,
.kempinski_hotel {
  bottom: 40%;
  left: 22%;
}

.mika_hotel {
  bottom: 40%;
  left: 30%;
}

.continental_hotel {
  bottom: 40%;
  left: 19%;
}

.khongor_guesthouse {
  bottom: 40%;
  left: 15%;
}

.mash_guesthouse {
  bottom: 40%;
  left: 20%;
}

@media (max-width: 1250px) {
  .hotels_container_text {
    font-size: 150%;
  }
}

@media (max-width: 992px) {
  .hotels_container_text {
    font-size: 130%;
  }
}

@media (max-width: 767px) {
  .hotels_display {
    display: block;
    justify-content: space-between;
    margin-bottom: 4%;
  }

  .hotels_container_display {
    width: 100%;
    margin-bottom: 5%;
  }

  .hotels_top_margin {
    margin-top: 14%;
  }

  .shangri_la_hotel {
    bottom: 47%;
    left: 30%;
  }

  .blue_sky_hotel,
  .ramada_hotel {
    bottom: 47%;
    left: 34%;
  }

  .edelweiss_hotel,
  .kempinski_hotel {
    bottom: 40%;
    left: 32%;
  }

  .mika_hotel {
    bottom: 40%;
    left: 37%;
  }

  .continental_hotel {
    bottom: 40%;
    left: 30%;
  }

  .khongor_guesthouse {
    bottom: 40%;
    left: 26%;
  }

  .mash_guesthouse {
    bottom: 40%;
    left: 30%;
  }
}

@media (max-width: 580px) {
  .shangri_la_hotel {
    bottom: 47%;
    left: 26%;
  }

  .blue_sky_hotel,
  .ramada_hotel {
    bottom: 47%;
    left: 28%;
  }

  .edelweiss_hotel,
  .kempinski_hotel {
    bottom: 40%;
    left: 26%;
  }

  .mika_hotel {
    bottom: 40%;
    left: 35%;
  }

  .continental_hotel {
    bottom: 40%;
    left: 24%;
  }

  .khongor_guesthouse {
    bottom: 40%;
    left: 20%;
  }

  .mash_guesthouse {
    bottom: 40%;
    left: 24%;
  }
}

@media (max-width: 480px) {
  .shangri_la_hotel {
    bottom: 47%;
    left: 20%;
  }

  .blue_sky_hotel,
  .ramada_hotel {
    bottom: 47%;
    left: 24%;
  }

  .edelweiss_hotel,
  .kempinski_hotel {
    bottom: 40%;
    left: 22%;
  }

  .mika_hotel {
    bottom: 40%;
    left: 30%;
  }

  .continental_hotel {
    bottom: 40%;
    left: 20%;
  }

  .khongor_guesthouse {
    bottom: 40%;
    left: 12%;
  }

  .mash_guesthouse {
    bottom: 40%;
    left: 20%;
  }
}

@media (max-width: 360px) {
  .shangri_la_hotel {
    bottom: 47%;
    left: 10%;
  }

  .blue_sky_hotel,
  .ramada_hotel {
    bottom: 47%;
    left: 16%;
  }

  .edelweiss_hotel,
  .kempinski_hotel {
    bottom: 40%;
    left: 12%;
  }

  .mika_hotel {
    bottom: 40%;
    left: 24%;
  }

  .continental_hotel {
    bottom: 40%;
    left: 9%;
  }

  .khongor_guesthouse {
    bottom: 40%;
    left: 0%;
  }

  .mash_guesthouse {
    bottom: 40%;
    left: 9%;
  }

  .hotels_top_margin {
    margin-top: 18%;
  }
}
