/* Footer Component Styles */
.footer_display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_containers_title {
  font-size: 160%;
  font-weight: bolder;
  margin-bottom: 3%;
}

.footer_first_column {
  flex: 1;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer_second_column {
  flex: 1;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 9%;
}

.footer_third_column {
  flex: 1;
  padding-top: 2%;
  align-self: flex-end;
  margin-left: 8%;
}

.footer_containers_text {
  font-size: 120%;
}

.footer_input_field {
  width: 100%;
  border: none;
  outline: none;
}

@media (max-width: 1250px) {
  .footer_containers_title {
    font-size: 140%;
  }
}

@media (max-width: 992px) {
  .footer_containers_title {
    font-size: 120%;
  }
}

@media (max-width: 767px) {
  .footer_display {
    display: block;
  }

  .footer_first_column {
    border-bottom: #fff solid 1px;
    padding-left: 2%;
  }

  .footer_second_column {
    border-bottom: #fff solid 1px;
    margin-left: 0;
    padding-left: 2%;
  }

  .footer_third_column {
    margin-left: 0;
    padding-left: 2%;
  }

  .footer_containers_title {
    font-size: 200%;
  }
}

@media (max-width: 480px) {
  .footer_first_column {
    padding-left: 4%;
  }

  .footer_second_column {
    margin-left: 0;
    padding-left: 4%;
  }

  .footer_third_column {
    margin-left: 0;
    padding-left: 4%;
  }

  .footer_containers_title {
    font-size: 180%;
  }
}
