@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Font Styles */
.trocchi-regular {
  font-family: "Trocchi", serif;
  font-weight: 400;
  font-style: normal;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Layout Utilities */
.visibility_area {
  margin-top: 2%;
  margin-right: 15%;
  margin-bottom: 0%;
  margin-left: 15%;
}

.container {
  max-width: 1903px;
}

.main_container {
  width: 100%;
}

.text_container {
  font-size: 140%;
  margin-bottom: 1%;
}

.header_container {
  font-size: 200%;
  font-weight: 500;
  text-align: center;
}

.image_container {
  max-width: 100%;
  height: 100%;
  text-align: center;
}

.image_container_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Global Header Styles (used across multiple pages) */
.header_container_for_picture {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.header_on_picture {
  font-size: 400%;
  font-weight: 500;
  color: #fff;
  padding-bottom: 8%;
  padding-top: 0;
}

.header_for_divede {
  font-size: 200%;
  font-weight: 500;
  text-align: center;
}

/* Global Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  color: darkslategray;
  margin: auto;
}

thead {
  background-color: #d3d8de; 
}

th, td {
  border: 2px solid #000;
  padding: 1%;
  text-align: left;
}

td {
  width: 33.33%;
}

tbody {
  background-color: #fff;
}

/* Responsive adjustments for global utilities */
@media (max-width: 1250px) {
  .header_container {
    font-size: 200%;
  }

  .text_container {
    font-size: 120%;
  }

  .header_container_for_picture {
    top: 31%;
  }

  .mainpage_link_on_pictute,
  .mainpage_header_on_pictute {
    font-size: 110%;
  }

  .visibility_area {
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-left: 10%;
  }

  .header_on_picture {
    font-size: 300%;
  }

  .header_for_divede {
    font-size: 180%;
  }
}

@media (max-width: 992px) {
  .header_container {
    font-size: 200%;
  }

  .header_container_for_picture {
    top: 32%;
  }

  .mainpage_link_on_pictute,
  .mainpage_header_on_pictute {
    font-size: 100%;
  }

  .visibility_area {
    margin-top: 2%;
    margin-right: 7%;
    margin-bottom: 0%;
    margin-left: 7%;
  }

  .header_on_picture {
    font-size: 260%;
  }

  .header_for_divede {
    font-size: 160%;
  }
}

@media (max-width: 767px) {
  .header_container_for_picture {
    top: 27%;
  }

  .mainpage_link_on_pictute,
  .mainpage_header_on_pictute {
    font-size: 90%;
  }

  .visibility_area {
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
  }

  .header_on_picture {
    font-size: 150%;
    padding-bottom: 0;
    padding-top: 18%;
  }

  .header_for_divede {
    font-size: 140%;
  }
}

@media (max-width: 480px) {
  .header_container_for_picture {
    top: 17%;
  }

  .mainpage_link_on_pictute,
  .mainpage_header_on_pictute {
    font-size: 70%;
  }

  .header_on_picture {
    font-size: 100%;
    padding-bottom: 0;
    padding-top: 18%;
  }

  .header_for_divede {
    font-size: 120%;
  }
}
